export("readEPICidats","readEPIC_RnbSet","saveRnBeadsObject","buildMethGranges","readMethylome", "readSNPTable", "removeSNPs", "plotAlphaDistributionOneChr", "segmentPMDsKNN", "plotPMDSegmentation", "savePMDSegments","writeSegmentation")
import(IRanges, BSgenome)
import(foreach)
importFrom(GenomicRanges, GRanges)
importFrom(TxDb.Hsapiens.UCSC.hg19.knownGene,TxDb.Hsapiens.UCSC.hg19.knownGene)
importFrom(graphics, abline, axis, barplot, box, hist, legend, lines, par, plot, points, rect, smoothScatter, text)
importFrom(grDevices, dev.off, grey.colors, pdf)
importFrom(mhsmm, dnorm.hsmm, hmmfit, hmmspec, mstep.norm)
importFrom(parallel, mclapply)
importFrom(stats, dnorm)
importFrom(utils, write.table)
importFrom(zoo, rollapply)

